.content{
    width: 90%;
    background-color: white;
}
.cart-container{
    display: flex;
    gap: 1%;
}

.left-content{
    width: 70%;

    border-radius: 5px;
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 1px;
}
.right-content{
    width: 30%;
    height: 200px;

    border-radius: 5px;
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 1px;
    padding: 1%;

    h1{
        font-size: 20px;
        padding: 0;
        margin: 0;
        font-weight: 600;
    }
    p{
        margin: 0;
    }
    .name-row{
        width: 25%;
    }
    .item-row{
        width: 25%;
        color:#1A1A1A;
        font-size: 14px;
        font-weight: 500;
        line-height: 21px;
        text-align: left;
    }
    .name-row{
        font-size: 14px;
        font-weight: 400;
        line-height: 21px;
        color: #4D4D4D;
    }
    
    
}
.rows{
    display: flex;
    gap: 50%;
    margin: 2%;
}
.per-line,.cart-item{
    display: flex;
    .cols{
        align-items: left;
        padding: 0;
    }
    #col1{
        width: 50%;
    }
    #col2{
        width: 10%;
    }
    #col3{
        width: 20%;
    }
    #col4{
        width: 15%;
    }
    #col5{
        width: 5%;
        
    }
}

.row-product{
    display: flex;
    align-items: center;
    .col-img{
        width: 25%;
        height: 100%;
        img{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }
}


.add-down-btn {
    border-radius: 180px;
    width: 80%;
    height: 40px;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
        
     border: 1px solid #E6E6E6;
}
      
.btn{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #F2F2F2;

    width: 80%;
    height: 80%;
    margin-right: 5%;
    border-radius: 50%;
    border: none;

    font-size: 13px;

    cursor: pointer;
}
      
#value{
    margin: 0 10px;
    font-size: 15px;
}

.btn-cuz{
    background-color: white;
    border-radius: 50%;
    border-style: solid;
    border-width: 1px;
    border-color: gray;
}


#white-text{
    color: gray;
    font-size: 12px;
    font-weight: 500;
    line-height: 14px;
    letter-spacing: 0.03em;
    text-align: left;
}
#black-text{
    font-family: Poppins;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    text-align: left;
}

.CTA-btn{
    margin: 1%;
    display: flex;
    gap: 60%;
    
    p{
        margin: 0;
        font-family: Poppins;
        font-size: 12px;
        font-weight: 600;
        line-height: 16.8px;
        text-align: left;
        color: #4D4D4D;
    }
    a button{
        width: 100%;
        height: 100%;
    }
    a,button{
        padding: 1%;
        display: inline-flex;
        text-decoration: none;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 20%;
        background-color: #F2F2F2;
        border-radius: 25px;
        border:none;
        
    }
    :hover{
        background-color: #dfd9d9c9;
    }
   
}

.checkout-btn{
    margin-top: 10%;
    display: flex;
    align-items: center;
    justify-content: center;

    height: 20%;
    width: 100%;

    background-color: #00B207;
    color: white;
    border:none;
    border-radius: 25px;
    
    font-size: 16px;
    font-weight: 600;
    line-height: 19.2px;
    
}
.checkout-btn:hover{
    background-color: #0c9911;
}

.coupon-code{
    position: relative;
    padding: 1%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1%;
    margin-top: 1%;

    width: 66%;

    border-radius: 5px;
    border-color: #E6E6E6;
    border-style: solid;
    border-width: 1px;
    p{
        padding: 0;
        font-size: 20px;
        font-weight: 500;
        line-height: 30px;
    }
   
   
    input[type="text"] {
        color: #999999;
        flex: 1;
        border: 1px solid #E6E6E6;
        border-radius: 25px;
        font-size: 16px;
        box-sizing: border-box;
        padding-left: 5%;
        padding: 2%;
    }
    
    button {
        right: 0;
        position: absolute;
        width: 20%;
        background-color: #333333;
        color: white;
        border: none;
        border-radius: 25px;
        cursor: pointer;
        font-size: 16px;
        padding: 2%;
        padding-left: 1%;
        margin-right: 1%;
    }
    
    button:hover {
        background-color: #555;
    }
}
@media only screen and (min-width: 300px) and (max-width: 650px) {
    #white-text{
        font-size: 7px;
    }

    #black-text{
        font-size: 9px;
    }

    .row-product{
        .col-img{
            margin-right: 5%;
            width: 25%;
            height: 50%;
            img{
                width: 100%;
                height: 100%;
                overflow: hidden;
            }
        }
    }

    .per-line,.cart-item{
       #col3{
            width: 15%;
       }
       #col5{
        width: 10;
        button{
            font-size:10px;
            height: 45%;
        }
       }
    }

    #totalSum, .product-prices{
        font-size: 8px;
    }

    .add-down-btn {
        border: none;
        #value{
            font-size: 11px;
        }
    }

    .btn{
        display: none; 
        /* chưa có chức năng nên tắt luôn :)) */
    }

    .CTA-btn{
        margin: 1%;
        display: flex;
        gap: 20%;
        
        p{
            font-size: 9px;
            font-weight: 600;
        }
        a button{
            width: 100%;
            height: 100%;
        }
        a,button{
            width: 40%;
        }
    }

    .coupon-code{
        width: 99%;
        p{
            font-size: 15px;
        }
        button {
            font-size: 10px;
            padding: 2%;
        }
 
    }

    .right-content{
        height: 150px;
        h1{
            font-size: 15px;
        }
        .item-row{
            font-size: 9px;
        }
        .name-row{
            font-size: 9px;
        }
        
        
    }
    .checkout-btn{
        font-size: 9px;
    }
}