.product-banner {
    width: 80%;
    height: 358px;
    border-radius: 10px;
    margin: 2% auto;    /* Đặt margin auto để căn giữa */
    overflow: hidden;   /* Đảm bảo nội dung không tràn ra khỏi div */
    position: relative; 
}

.product-banner img {
    width: 100%;
    height: auto;
    opacity: 1; 
    z-index: -1;
    position: absolute;
}
.product-banner-content{
    align-items: center;
    display: flex;
    width: 50%;
    height: 100%;
    position: absolute;
    background-color: red;
    z-index: 1;
}
.product-banner-content-discount
{
    position: absolute;
    align-items: center;
    display: flex;
    justify-content: center;
    width: 20%;
    height: 25%;
    background-color: orange;
    right: 0;
    border-radius: 100%;
    z-index: 2;
}
.product-banner-content-text
{
    position: absolute;
    width: 80%;
    height: 80%;
    background-color: blue;
    z-index: 2;
}