
.content{
    background-color: white;
    height: 550px;
    width: 100%;;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.content_password_login{
    
    border: 1px solid #fbf9f9;
    border-radius: 7px;
    width: 550px;
    height: 83%;
   
    box-shadow: 10px 10px  20px 20px rgba(232, 232, 232, 0.5) ;
    margin-top: 80px;  
    padding-top: 2px; 
    padding-bottom: 10px; 
      margin-bottom: 70px;
}
.alert_register_email{
    margin-left: 40px;
    color: red;
    display: none;
}
.alert_register_pass{
    margin-left: 40px;
    color: red;
    display: none;
}
.alert_register_pass_lenght{
    margin-left: 40px;
    color: red;
    display: none;
}

.input_content_password{

    display: flex;
    flex-direction: column;/*3 cái thành hàng dọc*/
    gap:13px;/*gap hàng dọc*/
    padding-left: 20px;
   
}



.input_password_content:focus-visible{
    outline: none;
}
/*3 cái thẻ */
.input_login_password{
    border: 1px solid #e8e3e3;
    padding:10px 7px;
    width: 89%;
    height: 25px;
    display: flex;
    justify-content: space-between;
    border-radius: 6px;
    margin-left: 20px;
}
.input_password_content{
    border: none;
}
.alert_login{
    margin-left: 25px;
    color: red;
}

input[type="checkbox"] {
    /*transform: scaleX(2) scaleY(1,96); căn theo chiều ngang 2x avf chieu doc 1x*/
    width: 19px;
    height: 19px;
    
  }
.remember_password_login{
    display: flex;
    align-items: center;
    margin-left: 20px;
    background-color: white;
    p{
        font-family: poppins;font-weight: 400;font-size: 15px;color: #666666;
    }
    
}
.button_login_content{
    border: 1px solid #a8a7a7;
    background-color: #00B207;
    border-radius: 35px;
    width: 89%;
    height: 42px;
    text-align: center;
    padding-top: 5px;
    color: white;
    margin-left: 35px;
    
}
.button_login_content:hover{
    cursor: pointer;
    background-color: rgb(226, 226, 218);
}
.button_login_content:hover .create_login{
    color:rgb(58, 55, 55);
}
.create_login{
    padding-top: 5px;
    font-family: poppins;
    font-weight: 500;
    font-size: 19px;
}
.find_login{
    padding-left: 20px;
    padding-top: 6px;
    text-align: center;
    margin-bottom: 20px;
   
}
@media only screen and (min-width: 300px) and (max-width: 650px) {
    .content_password_login{
        border: 1px solid black;
        margin-left: 60px;
        width: 50vw;
        height: 70%;
    }
    .button_login_content{
        width: 50%;
        height: 20%;
    }
    .input_login_password{
        width: 100%;
        input{
            width: 100%;
            background-color: red;
        }
    }
    .input_content_password{
        width: 70%;
        h1{
            font-size: 18px;
        }
    }
    .remember_password_login{
        p{
            font-size: 10px;
        }
    }
    .button_login_content{
        width: 80%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin: 20px;
        height: 20%;
    }
    .create_login{
        padding: 0;
    }
    
}


