@font-face {
    font-family: 'Poppins';
    src: url('../font/Poppins-Medium.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}
  

body {
    margin: 0;
    padding: 0;
    font-family: Poppins;
}

header {
    /* background-color: #000000; */
    color: #fff;
    text-align: center;
}


.content-wrapper {
    padding-left: 10%;
    display: flex;
    justify-content: center;
    /* background-color: rgb(47, 192, 11); */
}

.content {
    width: 80%; 
   
}

.nav {
    width: Hug (1,920px)px;
    /* background-color: black; */
}

.contact {
    line-height: 1px;
    display: flex;
    width: 65%;
    gap: 8px;
    .contact-text
    {
        color: #666666;
        font-family: Poppins;
        font-size: 10px;
        font-weight: 400;
        line-height: 15.6px;
        text-align: left;
    }
}


.nav-log-sign{
    display: flex;
    a{
    margin: 0 5px 0 5px;
    color: #666666;
    font-family: Poppins;
    font-size: 14px;
    font-weight: 400;
    line-height: 15.6px;
    text-align: left;
    text-decoration: none;
    }
a:hover{
        color: rgb(21, 177, 224);
    }
}

.middle{
    display: flex;
    width: 80%;
    /* background-color: pink; */
    opacity: 0px;
    gap: 165px;
    height: 30px;

    #logo{
        gap:8px;
        /* background-color: aqua; */
    }
    #search-bar{
        border-radius: 5px 0px 0px 5px;
        display: flex;
        width: Hug (498px)px;
        height: Hug (45px)px;
    }
    .icon-call-now{
        justify-content: space-around;
        display: flex;
        width: 25%;
        margin-left: 5%;
        .call-phone-icon img{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .text{
            text-align: left;
            padding: 0;
            height: 100%;
            inline-size: auto;
            p{
                font-size: 10px;
                margin: 0;
                font-size: 11px;
                font-weight: 400;
                line-height: 13.2px;
                color: #4D4D4D;                
            }
            .prices{
                font-size: 14px;
                font-weight: 500;
                line-height: 14px;

            }
        }
        .cart-shop{
            position: relative;
            padding-right: 2% ;
            .product-cnt{
                width: 50%;
                height: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
                border-radius: 50%;
                border-style: solid;
                border-width: 1px;
                border-color: white;

                top: 0;
                right: 0;

                position: absolute;
                background-color: green;
                span{
                    color: white;
                    font-family: Poppins;
                    font-size: 10px;
                    font-weight: 500;
                    line-height: 10px;

                }
            }
        }
        
        
    }
        #search-bar input[type="text"] {
            border-radius: 5px 0px 0px 5px;
            padding: 10px 30px;         
            border: 1px solid #ddd;
            font-size: 12px;
            background: url("../images/Search.png") no-repeat; 
            background-position: 5px center; /* Đặt vị trí của icon */
        }
        #search-bar.input::placeholder{
            font-family: Poppins;
            font-size: 15px;
            font-weight: 400;
            line-height: 21px;
            text-align: left;
            font:bold;
        }
    
        #search-bar button {
            border-radius: 0px 5px 5px 0px;
            border: none;
            background-color: #00B207; /* Màu button */ 
            color: white;
            font-size: 12px;
        }
        #search-bar button:hover{
            background-color: #028a06;
        }
       
    /*  media query cho từ 300px đến 650px nhá  */
    @media only screen and (min-width: 300px) and (max-width: 650px) {
        .under-icon img{
            width: 50px;
        }
        
        
        #logo {
            width: 80%; 
            max-width: 650px; 
        }
       
        #search-bar input{
            width: 1%;
            font-size: 8px;
        }
        #search-bar button {
            padding: 1px 2px;
            font-size: 14px;
        }
        .icon-call-now
        {
            width: 100%;
            .text{
                p{
                    font-size: 7px;
                }
            }
        }
        .icon-call-now img{
            width: 90%;
        }
    }

}

.nav-link-bar{
    position: relative;
    display: flex;
    width: 100%;
    background-color: #191919;
    margin-bottom: 20px;
    margin-top: 35px;
}
.custom-select {
    position: relative;
    display: inline-block;
}
  
.select-selected {
    display: flex;
    background-color: #333333;
    padding: 15px 80px;
    border: none;
    cursor: pointer;
    .select-menu-icon
    {
        left: 0;
        position: absolute;
        font-size: 28px;
    }
   
}

.select-items {
    z-index: 2;
    display: none;
    position: absolute;
    background-color: white;
    color: black;
    border-top: none;
    width: 100%;
    max-height: 450px;
    overflow-y: auto;
    line-height: 30px;
    
    a{
        gap: 5%;
        display: flex;
        color: #191919;
        text-decoration: none;
        font-size: 15px;

        font-weight: 500;
        line-height: 21px;

        text-align: left;
        align-items: center;
    }
    .select-icon{
        padding: 0;
        display: flex;
        justify-content: center;
        align-items: center;

    }
    .select-icon img{
        width: 100%;
        height: 100%;
    }
    

}


.select-items div {
    padding: 10px 20px;
}

.select-items div:hover {
    background-color: #00B207;
}
  
.custom-select:hover .select-items {
    display: block;
    
}
  
.nav-link{
    margin-left: 3%;
    transform: translateY(35%);
    display: flex;
    width: 100%;
    gap: 50px;
    a{
        gap:10%;
        display: flex;
        margin: 0 5px 0 5px;
        color: #999999;
        font-size: 16px;
        font-weight: 400;
        line-height: 15.6px;
        text-align: left;
        text-decoration: none;
    }
    a:hover{
        color: white;
    }
    .nav-link-account{
        position: absolute;
        display: flex;
        right: 0;
        margin-right: 10%;
        width: 10%;
        img{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
    }
    

}

            /* MAN HINH KHOANG IPHONE 14 */
@media only screen and (min-width: 300px) and (max-width: 650px) {
    .middle{
        gap:0px;
    }
    .under-footer {
        flex-direction: column; /* Xếp các phần tử con theo chiều dọc khi màn hình có kích thước nhỏ hơn 768px */
        align-items: center; /* Căn các phần tử con vào giữa theo chiều ngang */
    }
    .nav-link{
        margin-left: 1%;
        font-size: 10px;
        gap: 10px;
        a{
        font-size: 8px;}

        .nav-link-account{
            margin-right: 1%;
            width: 20%;

        }
    }
    .select-selected {
        background-color: #333333;
        padding: 15px 10px;
        font-size: 10px;
        

        .select-menu-icon{
            left: 0;
            font-size: 10px;
            .menu-img img{
                display: none;
            }
        }
    }
    .select-items{
        width: 200%;
        a{
            line-height: 8px;
            font-size: 10px;
        }
        .per-item{
            padding: 0;
            padding-left: 5%;
            padding-top:3%;
            padding-bottom: 3%;

        }
    }
    
    .content-wrapper {
        padding-left: 0%;
        /* background-color: rgb(47, 192, 11); */
    }

    
    


}
