.content{
    background-color: white;
}
.product-detail{
    display: flex;
    width: 100%;
    padding-bottom: 5%;
}
.quick-view-img
{
    display: flex;
    flex-direction: column;

    text-align: center;
    align-items: center;
    

    margin: 5%;
    width: 5%;
    height: 80%;
    gap: 5%;
    
    
}
.big-img-product img ,.quick-view-img img {
    width: 100%;
    opacity: 1; 
}

.big-img-product{
    width: 40%;
    display: none;
}

.btn-img{
    padding: 0;
    border: none;
    background-color: white;
    :hover
    {
        border-style: solid ;
        border-color: #00B207;
        border-width: 1px;
    }
}

.form-content{
    width: 55%;
}
.form-content-name{
    gap: 10%;
    display:flex;
    font-size: 36px;
}
.form-content-stock
{
    margin: 1%;
    padding: 1%;

    display: inline-block;
    background-color: #D2F0D4;
    color: #2C742F;

    border-radius: 5%;
    display: flex;
    align-items: center;
}
.form-content-header{
    display: flex;
    align-items: center;
    gap: 1%;
}
.form-content-rate-bar{
    color: #666666;
    display: flex;
    gap: 1%;
    .rate-icon{
        color: #FF8A00;
    }
   
   
    .review-count{
        width: 60%; 
        gap: 5%;
        height: 30px;
        align-items: center;
        display: flex;
    }
}
.price-item{
    display: flex;
    gap: 1%;
    .discount-price {
        text-decoration: line-through;
        color: #D9D9D9;
    }
    .discount-per{
        margin-left: 3%;
        padding-left: 3%;
        padding-right: 3%;

        border-radius: 25px;
        background-color: #FDEEED;
    }
    .default-price
    {
        color: #2C742F;
        font-weight: bold;
    }
}

.info-item{
    .brand-bar{
        margin-bottom: 2%;
        position: relative;
        width: 95%;
        display: flex;
        align-items: center;
    }
    .brand-img{
        margin: 1%;
        width: 10%;
        height: 100%;
        border-style: solid;
        border-color: #E6E6E6;
        border-width: 1px;
        border-radius: 5px;
    }
    .brand-img img{
        width: 100%;
        opacity: 1; 
        border-radius: 5px;
    }
    .share-item{
        gap: 1%;
        width: 50%;
        height: 100%;
        align-items: center;
        display: flex;
        position: absolute;
        right: 0;
        .share-item-text{
            width: 50%;
        }
        .share-item-icon{
            right: 0;
            margin-left: 1% ;
            display: flex;
            justify-content: center;
            align-items: center;
            width: 13%;
            border-radius: 50%;
            height: 50%;
        }
        :hover.share-item-icon{
            background-color: #00B207;
            color: white;
        }
    }
    .info-item-desc{
        width: 95%;
        color: #666666;
        font-size: 13px;
    }
}
.add-to-cart{
    gap:5%;
    display: flex;
    height: 10%;

    .add-down-btn {
        border-radius: 170px;
        width: 25%;
        height: 100%;
        background-color: white;
        display: flex;
        align-items: center;
        justify-content: center;
        
        border: 1px solid #E6E6E6;
    }
      
    .btn{
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F2F2F2;

        width: 100%;
        height: 80%;
        margin-left: 5%;
        margin-right: 5%;
        border-radius: 50%;
        border: none;

        font-size: 13px;

        cursor: pointer;
    }
      
    #value{
        margin: 0 10px;
        font-size: 15px;
    }

    .button-add-to-cart{
        display: flex;
        align-items: center;
        justify-content: center;
        color: white;
        width: 50%;
        gap: 5%;
        font-size: 16px;
        font-weight: 600;
        line-height: 19.2px;
        text-align: left;


        border-radius: 20px;
        border: none;
        opacity: 0px;
        background-color: #00B207;
    }
    :hover.button-add-to-cart{
        background-color: #00b206d8;
    }
    
    .fav-icon{

        width: 10%;
        border-radius: 50%;
        color:#2C742F;
        display: flex;
        align-items: center;
        justify-content: center;
        background-color: #F2F2F2;
    }
}
.tag-container{
    font-size: 12px;
    .tag-content{
        gap: 1%;
        display: flex;
    }
    .content-type{
        width: 100%;
        gap:1%;
        display: flex;
        color: #808080;
        overflow: hidden;
    }
}

/* CHỈNH CHO ĐT */
@media only screen and (min-width: 300px) and (max-width: 650px) {
  
    .quick-view-img{
        margin: 5%;
        width: 25%;
        gap: 1%;
    }
    .big-img-product img ,.quick-view-img img {
        width: 100%;
        opacity: 1; 
    }
    
    .big-img-product{
        width: 100%;
    }
    .form-content-name{
        gap: 10%;
        display:flex;
        font-size: 15px;
    }
    .form-content-stock{
        font-size: 5px;
    }
 
    .form-content-rate-bar{
        .rate-icon{
            font-size: 6px;
            width: 20%;
        }
        .rate-icon img{
            width: 100%;
            height: 100%;
            overflow: hidden;
        }
        .review-count{
            font-size: 10px;
            height: 10px;
        }
    }

    .price-item{
        .discount-price {
            font-size: 12px;
        }
        .discount-per{
            font-size: 12px;
        }
        .default-price{
            font-size: 12px;
        }
    }
    
    .info-item{
        .brand-bar{
            width: 100%;
            font-size: 12px;
        }
        .brand-img{
            width: 20%;
        }
     
        .share-item{
            .share-item-text{
                font-size: 9px;
            }
            .share-item-icon{
                
                font-size: 10px;
                width: 20%;
            }
        }
        .info-item-desc{
            width: 100%;
            font-size: 9px;
        }
    }
    .add-to-cart{
        gap:5%;
        height: 20%;
        display: flex;
        align-items: center;
    
        .add-down-btn {
            font-size: 10px;
            border-radius: 170px;
            width: 50%;
            height: 50%;
        }
          
        .btn{
            width: 50%;
            height: 80%;
            margin-left: 2%;
            margin-right: 2%;
            font-size: 8px;
        }
          
        #value{
            font-size: 15px;
        }
    
        .button-add-to-cart{
            height: 50%;
            width: 50%;
            gap: 2%;
            font-size: 7px;
            font-weight: 600;
        .fav-icon{
            width: 30%;
        }
        img{
            width: 60%;
        }
    }
    }
    .tag-container{
        font-size: 10px;
        height: 100%;
        .tag-content{
            gap: 1%;
            font-size: 9px;
        }
        .content-type{
            width: 100%;
        }
    }
}


/* bonus */

.center-img{
    display: flex;
    align-items: center;
    justify-content: center;
}
.the-icon img{
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.custom-btn
{
    display: flex;
    padding: 10px;
    border-radius: 15px;
    align-items: center;
    justify-content: center;

    width: 10%;
    
    font-size: 12px;
    font-weight: bold;
    border: none;
    opacity: 0px;
    background-color: #EFF7EF;
    color: #00B207;
}
.custom-btn:hover{
    background-color: #cddfcd;
}

/* PRODUCT-DETAIL*/

.product-nav
{   
    align-items: center;
    justify-content: center;
    display: flex;
    gap: 5%;
    
}

.form-button{
    height: 100%;
    border: none;
    background-color: transparent;
    padding: 0;
    color: #808080;
    cursor: pointer;
    .cus {
        display: none;
    }
}

.active-button {
    color: #1A1A1A; 

    .cus{
    margin: 0;
    height: 2px;
    background-color: #20B526;
    border: none;
    display: block;
    }
}
.form-container {
    width: 80%;
    display: none;
    margin-top: 2%;
    margin-bottom: 5%;

    .left-content{
        width: 50%;
        .desc-bar{
            margin-bottom: 2%;
            margin-top: 1%;

            display: flex;
            width: 100%;
            gap: 1%;
            .tick-icon{
                display: flex;
                align-items: center;
                justify-content: center;
                width: 3%;
                border-radius: 50%;
                background-color: #00B207;
            }
        }
    }
    .right-content{
        display: flex;
        flex-direction: column;
        justify-content: right;
        width: 50%;
        gap: 2%;
        .the-icon img {
            margin-left: 20%;
            width: 80%;
        }
        
        .r-content-feature{
            padding: 3%;
            display: flex;
            align-items: center;
            justify-self: center;
            width: 74%;
            margin-left: 20%;
            gap: 4%;

            border-radius: 3px;
            border-style: solid;
            border-width: 1px;
            border-color: #E6E6E6;
            
            .per-feature{
                display: flex;
                align-items: center;
                width: 50%;
                gap: 3%;
                .dis-icon{
                    width: 10%;
                }
            }
        }

    }

    .review-bar{
        width: 60%;
        margin-bottom: 3%;
        .info-bar{
            position: relative;
            gap: 1%;
            align-items: center;
            height: 30px;
            display: flex;
            width: 100%;
            .user-avatar{ 
                width: 7%;
                img{
                    border-radius: 50%;
                }
            }

            .name-rate{
                padding: 0;
                display: flex;
                flex-direction: column;
                .the-icon{
                    height: 90%;
                    width: 90%;
                    margin: 0;
                }
            }
            .time-cmt{
                position:absolute;
                right: 0;
            }
        }
        .the-cmt{
            margin-top: 2%;
            margin-bottom: 2%;
        }
        
    }
    
    p{
        margin: 0;
        font-size: 10px;
        text-align: left;
        color: #808080;
    }
    #black-text{
        color: black;
        font-size: 12px;
    }
    #white-text{
        color: #808080;
        font-size: 12px;
    }
}

@media only screen and (min-width: 300px) and (max-width: 650px) {
    .product-nav{
        margin-top: 5%;
    }
    .form-container {
        p{
            font-size: 8px;
        }
        #black-text{
            font-size: 10px;
        }
        #white-text{
            font-size: 10px
         }
        .left-content{
            .desc-bar{
                width: 200%;
                .tick-icon{
                    width: 5%;
                }
            }
        }
        .product-nav{
            margin-top: 5%;
        }
    }

    #form2{
        .left-content{
            .desc-bar{
                width: 100%;
            }
        }
    }
    .custom-btn
    {
        padding: 5px;
        width: 50%;
    }
}
